.about-container {
  z-index: 25;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;

  .introduce,
  .education {
    width: 50%;
  }

  h2 {
    margin-bottom: 15px;
    font-style: 21px;
    font-weight: 600;
    color: var(--first-color);
  }
  .card {
    z-index: 25;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px 90px;
    width: 100%;
    height: 305px;
    background-color: var(--second-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);

    div {
      margin-top: 18px;
      text-align: left;
      font-size: 18px;
      line-height: 1.9;
      letter-spacing: 1.7px;
      color: var(--white-color);
    }
  }

  .list {
    z-index: 535;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 90px;
    width: 100%;
    height: 300px;
    position: relative;
    border: 1px solid var(--first-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);

    h2 {
      text-align: center;
    }

    .item {
      margin-top: 5px;
      text-align: left;
      font-size: 18px;
      line-height: 1.8;
      letter-spacing: 9px;
      color: var(--white-color);
      padding: 10px;
      position: relative;
      display: flex;
      justify-content: left;
      left: 30px;

      .color {
        color: var(--text-color);
      }

      .taiwan-flag {
        height: 1em;
        width: auto;
        margin-left: 0.3em;
        margin-bottom: 2px;
        vertical-align: middle;
        display: inline-block;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      }

      &::before {
        padding: 8px;
        box-sizing: border-box;
        content: "";
        position: absolute;
        top: 15px;
        left: -20px;
        width: 15px;
        height: 15px;
        border-radius: 50px;
        background-color: var(--first-color);
        box-shadow: 1px 1px 1px 1.5px var(--first-shadow-color);
      }
    }
  }
}

html[lang="en"] {
  .about-container {
    .card {
      height: 355px;
    }

    .list {
      height: 350px;
      justify-content: flex-start;
      padding-top: 20px;

      .item {
        margin-top: 10px;
        letter-spacing: 3px;
      }
    }
  }
}
