.btn {
  display: none;
  font-weight: 500;
  padding: 12px 20px;
  background-color: #efefef;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(to right, #f6d365, #fda085);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  &:hover {
    background-color: var(--logo-color);
    color: var(--second-color);
    transform: scale(1.01);

    &::before {
      background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    }
  }

  > i {
    margin-left: 10px;
  }
}

.btn-send {
  font-weight: 500;
  padding: 12px 20px;
  background-color: #efefef;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(to right, #f6d365, #fda085);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  &:hover {
    background-color: var(--logo-color);
    color: var(--second-color);
    transform: scale(1.01);

    &::before {
      background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    }
  }

  > i {
    margin-left: 10px;
  }
}
