footer {
  z-index: 25;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  padding-block: 40px 60px;

  .top-footer {
    font-size: 25px;
    font-weight: 600;
  }

  .footer-menu {
    display: flex;

    .menu-item {
      list-style: none;

      a {
        text-decoration: none;
        background: linear-gradient(to right, #f6d365, #fda085, #f6d365);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 500;
        margin-inline: 20px;
      }
    }
  }

  .footer-icons {
    display: flex;
    gap: 30px;
  }

  .bottom-footer {
    font-size: 14px;
    background: linear-gradient(to right, #f6d365, #fda085, #f6d365);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 10px;
  }
}
