.skill-container {
  z-index: 25;
  position: relative;
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  color: var(--logo-color);

  .skill-item {
    flex-basis: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    gap: 5px;

    .skill {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .progress-bar-wrap {
      height: 10px;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1px;
        background: var(--first-color);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
      }

      .progress-bar {
        height: 10px;
        background: var(--first-color);
        width: 0;
        transition: width 2s ease-out;
      }

      &.active .progress-bar {
        width: var(--progress-width, 100%);
      }
    }
  }
}
