@import "./nav";
@import "./btn";
@import "./home";
@import "./about";
@import "./skill";
@import "./work";
@import "./contact";
@import "./footer";
@import "./phone";

:root {
  --body-color: rgba(27, 50, 71, 1);
  --logo-color: rgb(202, 186, 145);

  --white-color: rgb(255, 255, 255, 1);
  --black-color: rgba(0, 0, 0, 1);
  --text-color: rgba(233, 234, 236, 1);

  --first-color: rgba(144, 173, 198, 1);
  --first-color-hover: rgba(156, 42, 39, 1);
  --first-shadow-color: rgba(0, 0, 0, 0.8);

  --second-color: rgb(68, 101, 123);
  --second-color-hover: rgb(30, 136, 229, 1);
  --second-shadow-color: rgba(0, 0, 0, 0.5);

  --third-color: rgba(178, 97, 45, 1);
}

h1 {
  color: var(--logo-color);
  font-size: 29px;
  text-shadow: 7px 5px 7px var(--first-shadow-color);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);

  .container {
    width: 100;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  z-index: 15;
  position: relative;
  padding-inline: 10vw;

  .home-box {
    display: flex;
    padding-block: 6em;
    height: 100vh;
    min-height: 700px;
  }

  .section {
    z-index: 25;
    position: relative;
    padding-block: 6em;

    .top-header {
      text-align: center;
      margin-bottom: 5em;

      h1 {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 35px;
        background: linear-gradient(to right, #f6d365, #fda085);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: none;
      }

      span {
        color: rgba(153, 153, 153, 1);
        text-shadow: 6px 4px 5px var(--first-shadow-color);
        font-size: 20px;
      }
    }
  }
}

i {
  font-style: 16px;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px var(--second-color);
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  color: var(--first-color);
  background-color: var(--white-color);
}

.icon:hover {
  transform: scale(1.2);
  color: var(--logo-color);
}

.animated-section {
  opacity: 1;
  visibility: visible;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.animated-section.animate {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
